.pcstaticdata {
    text-align: center;
    background-color: #7290BB;
    color: white;
}

.wait h4 {
    display: none;
}

.waiter {
    display: none;
    text-align: center; 
}

.wait .waiter {
    display: block !important;
}

.card {
    margin-bottom: 3%;
}

.endpoint {
    font-weight: 350;
    color: white;
}

.pcdata {
    text-align: center;
    background-color: #E3EDFA;
}