.pcstaticdata {
    text-align: center;
    background-color: #7290BB;
    color: white;
}

.card {
    margin-bottom: 3%;
}

.endpoint {
    font-weight: 350;
    color: white;
}

.pcdata {
    text-align: center;
    background-color: #E3EDFA;
}