.img {
    width: 6em;
    height: auto;
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  a{
    color: white;
    font-weight: 450;;
  }

  li:hover a{
    margin-left: 4px !important;
    color: white;
    transition: all 0.1s ease-out;
  }

  fa{
    color: black;
  }

  .active {
    background-color: #6B77BB !important;
    border: 1 solid grey !important;
    border-color:grey !important;
    border-radius: 4%;
  }

.list-group-item {
    background-color:#2E41AD
}

li:hover{
  cursor: pointer;
  background-color: #435FFA;
  transition: all 0.4s ease-out;
}

  