<div class="colored border-0" id="sidebar-wrapper">
  <div class="sidebar-heading">
    <div class="navbar-text">
      <img src="/assets/img/rikka.jpg" class="img" style="margin-left: 39px;">

    </div>
  </div>
  <div class="list-group">

    <ul class="list list-group">
      <div *ngFor="let api of apis">
        <li routerLink={{api.path}} class="list-group-item border-0" [routerLinkActive]="['active']">
          <a>
            <fa name="{{api.faIcon}}"></fa>{{api.name}}
          </a>
        </li>
      </div>
    </ul>

  </div>
</div>