
<div class="">
 
    <div id="logreg-forms">
            <img style="height: 30%;  margin: 25px 0 20px 145px; float: left;" src="../../assets/Logo.png" >
        <form class="form-signin" [formGroup]="loginForm">
            <!-- <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Login</h1> -->
            <br>
            <br>
            <input type="email" id="inputEmail" class="form-control " name="login" formControlName="email" placeholder="Email address" required="" autofocus="">
            <input type="password" id="inputPassword" class="form-control" name="senha" formControlName="senha" placeholder="Password" required="">
            <br>
            <button class="btn btn-success btn-block button-style" (click)="logar()" style=" font-size: 13px; font-weight: bolder; " >
                    <i class="fas fa-sign-in-alt" > </i>Entrar

                    <span [ngClass]="{ 'desaparece': !mostrarSpinner }" class="spinner-border spinner-border-sm"></span>
            </button>

            <hr>
            <button class="btn btn-primary btn-block button-style" style=" font-size: 13px; font-weight: bolder; " routerLink="/register" type="button" id="btn-signup">
                Registrar-se
            </button>
      </form>      
</div>
</div>