
<div class="card" [formGroup]="registerForm">
 
    
  <div class="txtt1">
      <h5 class="card-title url"><Nav>Nome: </Nav></h5>
    <input type="text" formControlName="nomeFuncionario"  class="form-control txt1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

  <div class="txtt1">
      <h5 class="card-title url"><Nav>Senha: </Nav></h5>
    <input type="password" formControlName="senha"  class="form-control txt1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
  </div>

<div class="txtt2">
  <h5 class="card-title url nomeApi">E-mail: </h5>
<input type="text" formControlName="email" class="form-control txt2" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>

<div class="txtt3">
<h5 class="card-title url tel">Telefone: </h5>
<input type="text" formControlName="phone" class="form-control txt3" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
</div>



<div class="form-check form-check-inline">
  <input class="form-check-input" (click)="checked(false)" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">Gestor</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" (click)="checked(true)" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">Desenvolvedor</label>
</div>

<select formControlName="idGestor" *ngIf="isDev">
  <option value=" ">Selecione um gestor</option>
  <option *ngFor="let gestor of gestores" [value]="gestor.idFuncionario" > {{ gestor.nmFuncionario }} </option>
</select>

<button class="btnCadastro" (click)="onRegister()">
Cadastrar</button>
</div>
