<div class="signup-form needs-validation" [ngClass]=" {
  'was-validated':  foiEnviado
} " novalidate>
  
  <div [formGroup]="registerForm">
  <h2>Registro</h2>
  <p class="hint-text" style=" font-weight: bolder; font-size: 15px; color: #0C0874; ">Insira seus dados para completar o cadastro!</p>
      <div class="form-group">
          <input type="text" class="form-control" formControlName="nomeFuncionario" name="nomeFuncionario" placeholder="Nome Completo" required="required">     	
      </div>
      <div class="form-group">
          <input type="text" class="form-control" name="email" formControlName="nomeEmpresa" placeholder="Nome da Empresa" required="required">
        </div>
      <div class="form-group">
          <input type="text" class="form-control" name="phone" formControlName="phone" placeholder="Seu telefone" required="required">
        </div>
      <div class="form-group">
            <input type="text" class="form-control" name="cnpj" formControlName="cnpj" placeholder="CNPJ" required="required">
      </div> 
      <div class="form-group">
        <input type="email" class="form-control" name="email" formControlName="email" placeholder="Seu email ( será necessário para o login )" required="required">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="senha" formControlName="senha" placeholder="Sua senha" required="required">
      </div>
      <div class="form-group">
          <button type="submit" (click)="onRegister()" class="btn btn-success btn-lg btn-block">Registrar <span [ngClass]="{ 'desaparece': !mostrarSpinner }" class="spinner-border spinner-border-sm"></span></button>
      </div>
  </div>
 <div class="text-center" style="color: #0C0874; font-weight: bolder; font-size: 11px;">Já possui Conta ? <span routerLink="/" id="clickMe" style="color: red; "> Clique Aqui </span></div>
</div>