

  <div id="collapseOne" *ngFor="let api of apis" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
        <h1>Informações:</h1>
        <ul class="list-text">
          <li>
            API : {{ api.nmApi }}
          </li>
          <li>
            URL : {{ api.nmEndPoint }}
          </li>
        </ul>
        
      
       <h3>Comportamento no mês:</h3>
      
       <div class= "card-api card-api-style1">
         <p class="text">Quantidade de vezes que a api parou: </p>
         
         <p class="vezes"></p><span> {{ apis.numberTimesDown }} </span>
      
      </div>
      <div class= "card-api card-api-style2 ">
          <p class="text"> Desempenho: </p>
          
          <p class="vezes"></p><span> {{ apis.percentageUp }} %</span>
       
       </div>
    </div>
  </div>