<br><br><br><br>
<!-- Gráficos do pc    -->
<h1 class="title"> GRÁFICOS:</h1>


<div class="list"> 
  <h1>Informações do computador:</h1>
  <ul class="list-text">
    <li>
      Nome : {{ pcDetail$.nmComputador }}
    </li>
    <li>
      Processador : {{ pcDetail$.nmProcessador }}
    </li>
    
  </ul>
   <h2>Gráficos:</h2>

   
<div class="flex grafico-processamento" >
  <div class="flex-item">
    <div style="display:block;">
    <canvas baseChart width="40" height="40"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
</div>
   
<div class=" flex grafico-pc-disco">
  <p>Disco</p>
  <div class="chart" style="display:block;">
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [colors]="pieChartColors"
      [legend]="pieChartLegend">
    </canvas>
  </div>
</div>

<div class=" flex grafico-pc-mRam">
  <p>Memória Ram</p>
  <div class="chart" style="display:block;">
    <canvas baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [options]="pieChartOptions"
      [colors]="pieChartColors"
      [legend]="pieChartLegend">
    </canvas>
  </div>
</div>
  
  
</div>




 










