.side-menu { margin: 0; padding: 0; background-color: #ffffff; }

.content-guide { margin: 0; padding: 0; background-color: #ffffff; }
.content-guide::before {  position: absolute; width: 10px;  height: 100%; content: '';  top: 0; left: -10px; box-shadow: 4px 0px 6px 0px rgb(192, 188, 188);}
    
   
  .cor-principal{ background-color: #ffffff;}


   
   
   
   

