<div class="side-menu cor-principal" *ngIf="mostrarMenu">
  <div class="col-12" >
    <div class="logo">
      <img src="../../assets/imagem.png" alt="Logo">
    </div>
          
    <div class="accordion" id="accordionExample">
  
      <div class="card">
  
        <div id="collapseOne" class="collapse show link-area" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body card-body-list">
            <ul  *ngFor="let menu of lstmenu">
              <li>
               <a routerLink="{{ menu.path }}">{{ menu.titulo }}</a> 
              </li>             
            </ul> 
          </div>
        </div>
      </div>
  
      <!-- <div class="card">
        <div class="card-header card-header-style" id="headingTwo">
            <button class="btn btn-link collapsed link-area" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Desenvolvedor <i class="fas fa-angle-down rotate-icon icon"></i>
            </button>
        </div>
  
        <div id="collapseTwo" class="collapse show link-area" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body card-body-list  ">
            <ul>
                <li>
                    <a routerLink="/desenvolvedor">Dashboard (inicio)</a>
                  </li>
              <li >
                <a routerLink="/cadastradas">Api's cadastradas </a>
                
              </li>
              <li>
                <a routerLink="/detalhamento">Detlhamento das api's</a>
              </li>
             
              <li>
               <a href="#"></a>
              </li>
              <li>
                 <a href="#"></a>
              </li>
              <li>
                  <a href="#"></a>
                </li>
                <li> 
                   <a href="#"></a>
                </li>
                <li>
                  <a href="#"></a>
                </li>
                  <li>
                  <a href="#"></a>
                </li>
            </ul>
          </div>
        </div>
      </div> -->
      
      </div>
    </div>
  </div>