<!-- <nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <!-- <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand nmGestor" href="#">Gestor</a>
    <button type="button" class="btn btn-dark btnSair">Sair</button>  
  </div>
</nav> -->
    <h1 class=" cadastrar">Cadastrar Api </h1> 
  
<div class="card-height">

<div class="card" [formGroup]="registerForm">
  
    <h5 class="card-title url">EndPoint:</h5>
    <div class="txtt1">
      <input type="text" formControlName="endpoint" name="endpoint" class="form-control txt1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    </div>
  <div class="txtt2">
      <h5 class="card-title url nomeApi">Nome:</h5>
    <input type="text" formControlName="name" name="name" class="form-control txt2" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
    
  </div>
  <button (click)="onClick()" class="btnCadastro">
    Cadastrar</button>
  </div>
  

</div>

