.navbar{
    margin-bottom: 15px;
    border-bottom: 0px !important
}

// .navbar-brand{
//     font-weight: 300;

// }

@media (max-width:991px){
    .navbar{
        background-color: #f7f7f7;
        border-bottom: 0px !important;
        transition-duration: 10s;
    }

    .navbar-brand{
        //margin-left: 25px;
        font-weight: 350px !important;
    }
}

.responsive{
    display: none;
  }

  .navbar {
    background-color:#E3EDFA;
    color: black;
    border-bottom: 0px !important
  }

@media (max-width: 991px){
    a{
        color:black !important;
        margin-left: 9%;
    }    

  .apareceber{
    display: block;
    position: fixed;
  }

  .responsive{
    display: block;
  }

  .navbar-brand{
    margin-bottom: 15px;
    color: black;
  }

  .navbar {
    border-bottom: 0px !important
  }
}