h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    color: white;
}

input[type=text]{
    margin-left:20%;
    width: 60%;
    margin-bottom: 12px;
}

button{
    width: 30%;
    margin-left: 35%;
    margin-bottom: 15px;
}

button:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.24), 0 10px 10px 0 rgba(0,0,0,0.19);
    //transition-duration: 0.5s;
    // box-sizing: 
}

button:active{
    margin-left: 3px;
    margin-top: 3px;
}

textarea {
    resize: none;
    margin-left:20%;
    width: 60%;
    margin-bottom: 12px;
 }

 .card{
     background-color: #2E41AD;
 }