.card{
    margin-bottom: 30px;
    border-color: black !important;
}

.btn-fix {
    padding: 0;
    border: none;
    white-space: normal;
    color: black;
    text-align: left;
    width: 100%;
    }

h4 {
    font-weight: normal;
    color: white;
}

#title {
    font-weight: bold;
    color: black;
}

.card-header{
    background-color: #2E41AD;
}