.card{
    margin-bottom: 30px;
    //border-color: black !important;
}

.btn-fix {
    padding: 0;
    border: none;
    white-space: normal;
    color: black;
    text-align: center;
    width: 100%;
    }

h4 {
    font-weight: 600;
    color: black;
}

.waiter {
  display: none;
  text-align: center; 
  margin-top: 10%; 
  margin-bottom: 10%;
}

.wait .waiter {
  display: block !important;
}

#title {
    font-weight: bold;
    color: black;
}

.card-header{
    background-color: #7290BB;
}

   //INPUT TEXT

   input[type=text] {
    width: 190px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 20px;;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

  .pc {
    background-color: #E3EDFA;
  }

  .pc-card:hover .pc-body{
    background-color: #f1f1f1;
    transition-duration: 0.1s
  }

  @media (max-width: 991px){
    .pc-body:hover{
      transition-duration: none;
    }
  }